# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      "GitHub Actions updates":
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      "Go modules updates":
        dependency-type: "production"
      "Go modules updates for tests":
        dependency-type: "development"
  - package-ecosystem: "gomod"
    directory: "/examples/plugin"
    schedule:
      interval: "monthly"
    groups:
      "Go modules updates":
        dependency-type: "production"
      "Go modules updates for tests":
        dependency-type: "development"
