[Unit]
Description=Reverse proxy service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/reproxy --file.enabled --file.name=/etc/reproxy.yml

[Install]
WantedBy=multi-user.target