name: build

on:
  push:
    branches:
    tags:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          docker system prune -af

      - name: set up go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
        id: go

      - name: checkout
        uses: actions/checkout@v6

      - name: build and test
        run: |
          go test -v -timeout=100s -p 1 -covermode=atomic -coverprofile=$GITHUB_WORKSPACE/profile.cov_tmp ./...
          go build -race ./...
          cat $GITHUB_WORKSPACE/profile.cov_tmp | grep -v "mocks" | grep -v "_mock" > $GITHUB_WORKSPACE/profile.cov
        working-directory: app
        env:
          TZ: "America/Chicago"

      - name: test examples
        run: |
          go test -race ./...
          go build -race ./...
        working-directory: examples/plugin
        env:
          TZ: "America/Chicago"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: golangci-lint on example directory
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --config ../../.golangci.yml
          working-directory: examples/plugin

      - name: install goveralls
        run: |
         go install github.com/mattn/goveralls@latest

      - name: submit coverage
        run: $(go env GOPATH)/bin/goveralls -service="github" -coverprofile=$GITHUB_WORKSPACE/profile.cov
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
